.shiki_infotext_root
{
	max-height: 46.5em;
	overflow-y: auto;
	margin-bottom: 20px !important;

	&, .infotext, #tab_pnginfo .html-log.prose, #html_info_x_extras.prose, #html_info_extras.prose, #html_info_replacer.prose
	{
		transition: .15s;
	}

	hr.shiki_infotext_hr
	{
		margin: var(--spacing-md);
		border-top-style: dashed;
		opacity: 0.5;

		@at-root .prose &
		{
			@extend .shiki_infotext_hr;
		}
	}
}

.shiki_infotext_show_hide_div
{
	text-align: right;
	padding: 10px;

	.shiki_infotext_show_hide_btn
	{
		border: var(--button-border-width) solid var(--button-secondary-border-color);
		background: var(--button-secondary-background-fill);
		color: var(--button-secondary-text-color);

		position: sticky;
		top: 0;
		right: 0;
	}

}

.shiki_infotext_main
{
	display: flex;
	flex-direction: column;
	padding: 5px;

	.shiki_infotext_row
	{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 5px;

		&:hover .shiki_infotext_label_div, .shiki_infotext_label_full
		{
			background: var(--button-primary-background-fill-hover);
			color: var(--button-primary-text-color);
			border-color: var(--button-primary-border-color);
		}

		&:hover .shiki_infotext_value
		{
			box-shadow: var(--input-shadow-focus);
			border-color: var(--color-accent);
		}

		.shiki_infotext_label, .shiki_infotext_value
		{
			margin: 0px 2px;
		}

		.shiki_infotext_label_full, .shiki_infotext_value_full
		{
			width: 100%;
		}

		.shiki_infotext_value_full
		{
			> pre
			{
				padding: 10px 5px;
			}

			&, pre, #shiki_infotext_highlighter
			{
				white-space: pre-wrap;
			}
		}

		.shiki_infotext_label
		{
			flex: 1 0 auto;
			/*white-space: nowrap;*/
			min-width: 300px;
		}

		.shiki_infotext_value
		{
			flex: 4 1 auto;
			word-wrap: break-word;
			min-width: 0;
			margin: auto 2px;
			border: 1px solid var(--block-border-color);
			border-radius: 8px;
		}

		.shiki_infotext_label_div
		{
			border-radius: 3px;
			background: var(--button-secondary-background-fill);

			&, .shiki_infotext_value_div
			{
				padding: 3px 5px;
				min-height: 24px;
			}

			&[data-key="Model"], &[data-key="TI hashes"], &[data-key="Lora hashes"], &[data-key="Hashes"]
			{
				background: linear-gradient(to bottom right, #860087, #860087);
			}
		}
	}
}

.infotext .pending:hover
{
	opacity: 1;
}
